#!/bin/bash
#author: Thulana Kannangara <thulana@orangehrm.us.com>
cn=$1
server={{ ldap_server }} #Put your server IP
basedn={{ ldap_basedn }} #Put your basedn
binddn={{ ldap_binddn }}
bindpw={{ ldap_bindpw }}

set -eou pipefail
IFS=$'\n\t'

result=$(ldapsearch -D $binddn -w $bindpw -H $server -b $basedn '(&(objectClass=posixAccount)(uid='"$1"'))' 'sshPublicKey')
attrLine=$(echo "$result" | sed -n '/^ /{H;d};/sshPublicKey:/x;$g;s/\n *//g;/sshPublicKey:/p')

if [[ "$attrLine" == sshPublicKey::* ]]; then
  echo "$attrLine" | sed 's/sshPublicKey:: //' | base64 -d
elif [[ "$attrLine" == sshPublicKey:* ]]; then
  echo "$attrLine" | sed 's/sshPublicKey: //'
else
  exit 1
fi

